@model StageUpdateDto

<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Aşamalar /</span> Aşama Güncelle</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <form asp-controller="Stage" asp-action="Update" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="card-body">
                            <input type="hidden"  asp-for="Id"/>
                            <div class="form-group">
                                <label asp-for="ProductId">Ürün</label>
                                <select id="productList" class="form-control" asp-for="ProductId" asp-items="@(new SelectList(Model.Products,"Id","Name"))"></select>
                                <span asp-validation-for="ProductId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Name" id="defaultFormControlInput" class="form-label">İsim</label>
                                <input asp-for="Name" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Aşamanın İsmini Giriniz"
                                       aria-describedby="defaultFormControlHelp" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Parameter" id="defaultFormControlInput" class="form-label">Parametre</label>
                                <input asp-for="Parameter" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Aşamanın Parametresini Giriniz"
                                       aria-describedby="defaultFormControlHelp" />
                                <span asp-validation-for="Parameter" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>